{% extends "base.html" %}



{% block content %}

<div class='row'>
<div class='col-sm-6 col-sm-offset-3'>
<h1>About Us</h1>
<p>We are an online retailer with the aim and vision to offer the best retailing services. <br>On average we do deliveries in 1-5 days country wide</p>
<p>We offer products ranging from wide categories such as electronics and appliances,clothing etc</p>
<p>Our services are designed to ensure optimum levels of convenience and customer satisfaction</p>
</div>
<br>
<br><br>
<br>
<br>




</div>


{% endblock %}